body {
  background-color: #5A5A66;
}

.container {
  margin-top: 60px;
  background-color: #5A5A66;
  width: 1000px;
}

 nav a {
  margin-right: 50px;
}

.header {
  margin-left: 100px;
  margin-top: 30px;
}

p {
  margin-left: 100px;
}

.profile {
  float: right;
  margin-right: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#about {
  background-color: #A4C2A8;
}

#portfolio {
  background-color: #ACEB98;
  padding-top: 30px;
  padding-bottom:30px;
}

#contact {
  background-color: #87FF65;
}

.title {
  text-align: center;
}

.preview {
  margin-top: 25px;
  margin-bottom: 25px;
}

.preview:hover {
  opacity: 0.5;
}

li {
  list-style: none;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
}

.media {
  display: inline;
  margin-left: 30px;
}

.fa-facebook{
  margin-left: 16px;
}

.fa-twitter {
  margin-left: 10px;
}

.fa-github {
  margin-left: 9px;
}

ul {
  margin-left: 300px;
}